body {
  margin: 0;
  padding: 0;
}

.div-header {
  background-color: #355E3B;
  height: 120px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-top: 2%;
  padding-left: 20%;
  width: 100%;
  position: fixed;
}

.div-header-buttons {
  display: flex;
  padding-right: 20%;
  margin-left: auto;
  width: 20%;
  justify-content: center;   /* centers buttons horizontally */
  align-items: center;       /* centers vertically if needed */
  gap: 12px;                 /* space between buttons */
}

button {
  padding: 8px 16px;
  background-color: white;
  color: #355E3B;
  font-weight: 700;
  border-radius: 8px;
}

button:hover {
  background-color: #f3f4f6;
}


.div-websitename {
  display: flex;
  font-size: 1.2rem; /* adjust as needed */

}

.div-nav-header {
  padding-top: 3%;
  display: flex;
  gap: 30px;               /* space between items */
}

.div-nav-header-item {
  display: flex;           /* align icon + text horizontally */
  align-items: center;     /* vertical centering */
  gap: 8px;                /* space between icon and text */
  cursor: pointer;
  font-size: 16px;         /* adjust text size */
  font-weight: 500;        /* optional for better appearance */
}

.home-icon {
  width: 30px;             /* adjust icon size */
  height: auto;            /* maintain aspect ratio */
}

.nav-header-item:hover {
  color: #ff6600;
}

.div-home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 480px;
  background-position: center;  /* centers the image */
  background-repeat: no-repeat;
  background-image: url('/assets/img/portfolio/travian.png');
  background-attachment: fixed; /* keeps it visible while scrolling */
}

.div-main-page-info {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 4%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: grey;
  line-height: 1.8;
}

.div-main-page-info h1 {
  text-align: center;
}

.div-main-page-info p {
  margin-bottom: 3em;
}

.div-footer {
  padding-left: 20%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* The modal (background) */
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000; /* on top of everything */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* scroll if content too tall */
  background-color: rgba(0,0,0,0.5); /* semi-transparent background */
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  margin: 10% auto; /* center vertically & horizontally */
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
}

/* Close button (x) */
.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

